.left-section {
  background-image: url(Images/Thur.png);
  width: 702px;
  height: 877px;
  left: 738px;
  top: 100px;
  float: right;
}

.left-sect{
  width: 960px;
  background-image: url(Images/Thur.png);
  height: 558px;
}

.second-container{
  width: 960px;
  
}
* {
  font-family: 'Playfair Display', serif;
}

.container-header {
  width: 484px;
  height: 220px;
}

.fw-bolder {
  font-size: 110px;
  margin-left: 120px;
  margin-top: -200px;
}

.header-paragraph {
  margin-left: 120px;
}

.submit-button {
  width: 254px;
  height: 70px;
  margin-left: 120px;
  margin-top: 20px;
}

.verticaltext {
  position: relative;
  padding-left: 50px;
  margin: 1em 0;
  min-height: 120px;
}

.verticaltext_content {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  position: relative;
  font-weight: bold;
}
